body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgb(241, 241, 241);
  .headerContainer {
    height: 80px;
    background: linear-gradient(90deg, $dark 0%, rgba(43,145,133,1) 35%, $primary 100%);;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
    a {
      color: $dark !important;
      font-size: 20px;
      &:hover {
        color: $dark;
      }
    }
  }
  .doctorCard {
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    border: 2px solid $info;
  }

  .selectedTag {
    color: $dark;
  }
  .fixWidthButton {
    width: 150px;
    max-width: 150px;
  }
  .btn.btn-outline-info[disabled] {
    background-color: $secondary;
    color: $dark;
    border: 1px solid $dark;
    opacity: 0.5;
  }

  h3 {
    color:  $dark;
  }
}
